# ignore environment dirs
env/
nlabotenv/

# ignore python stuff
__pycache__/
*.egg-info/
.ipynb_checkpoints/

# ignore data dirs
data/
var/
notebooks/

# ignore configuration files
.proxy_env
nlabot_settings.py
