version: '3'
services:
    postgres:
        image: 'postgres:latest'
        ports:
        - '5432:5432'
        volumes:
        - './var:/var/lib/postgresql/data'
    redis:
        image: 'redis:latest'
        ports:
        - '6379:6379'
    bot:
        build:
            context: .
            dockerfile: Dockerfile
        command: serve
        links:
        - 'postgres'
        - 'redis'
        volumes:
        - './notebooks:/nlabot/notebooks'
        - './nlabot_settings.py:/nlabot/nlabot_settings.py'
    ta:
        build:
            context: .
            dockerfile: Dockerfile
        command: work
        links:
        - 'postgres'
        - 'redis'
        volumes:
        - './notebooks:/nlabot/notebooks'
        - '/var/run/docker.sock:/var/run/docker.sock'
        - './nlabot_settings.py:/nlabot/nlabot_settings.py'
    # this docker image is run from ta and is never used manually
    cell:
        build:
            context: .
            dockerfile: Dockerfile
        command: imprison
        volumes:
        - './notebooks:/nlabot/notebooks'
