version: '3'
services:
    postgres:
        image: 'postgres:latest'
        ports:
        - '5432:5432'
        volumes: 
        - './var:/var/lib/postgresql/data'
    redis:
        image: 'redis:latest'
        ports:
        - '6379:6379'
