version: '3'
services:
    postgres:
        image: 'postgres:latest'
        ports:
        - '5432:5432'
        volumes:
        - './var:/var/lib/postgresql/data'
    redis:
        image: 'redis:latest'
        ports:
        - '6379:6379'
    bot:
        build:
            context: .
            dockerfile: Dockerfile
        command: serve
        links:
        - 'postgres'
        - 'redis'
        volumes:
        - './nlabot_settings.py:/nlabot/nlabot_settings.py'
    ta:
        build:
            context: .
            dockerfile: Dockerfile
        command: work
        links:
        - 'postgres'
        - 'redis'
        volumes:
        - './nlabot_settings.py:/nlabot/nlabot_settings.py'
